/*
-----------------------------------------------------------------------
---------------------------- ABOUT SECTION STYLES --------------------
-----------------------------------------------------------------------
*/
#contentMain {
  float: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#contentMain img {
  float: left;
  display: block;
  height:200px;
  width:200px;
  margin: 10px;
}

#contentRight {
  width: 780px;
}

#contentLeft {
  width: 180px;
}

#contentLeft img{
  height: 150px;
  width: 120px;
}

#about	p{
    font-family:'Open Sans', 'sans-serif';
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
}
